{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trade It</title>
    <link href="{% static 'css/Styles.css' %}" rel="stylesheet" type="text/css">
</head>
<body style="padding: 20px;">
    <div id = "image">
            <div class="logo">
            <img src="{% static 'logo.png' %}" >
            </div>
    </div>
    <div id = "texto">
    <form action="" method="POST">
            {% csrf_token %}
            {{ form }}
            <br><button type="submit" class="btn btn-primary">Buscar</button></br>
    </form>
    </div>
</body>
</html>