{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trade It</title>
    <link href="{% static 'css/Formulario.css' %}" rel="stylesheet" type="text/css">
</head>
<body style="padding: 20px;">
    <div>
        <form action="" method="POST">
            <table>
                <tr>{{ table.Nombre }}</tr>
                <tr>{{ table.Email }}</tr>
                <tr>{{ table.Tipo }}</tr>
                <tr>{{ table.Id }}</tr>
                {% csrf_token %}
                {{ form }}
            </table>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</body>
</html>