{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trade It</title>
    <!--link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"-->
    <link href="{% static 'css/Styles.css' %}" rel="stylesheet" type="text/css">
</head>
<body style="padding: 20px;">
    <div id = "image">
        <div class="logo">
        <img src="{% static 'logo.png' %}" >
        </div>
    </div>
    <div id = texto>
    <p>Seleccione una de las opciones</p>
    <a class="btn btn-primary" href="/usuarioexistente">Usuario Existente</a>   
    <a class="btn btn-primary" href="/crearcontacto">Crear Usuario</a>
    </div>      
</body>
</html>