{% extends 'core/base.html' %}

{% load static %}

{% block title %}Libros{% endblock %}
{% block content %}
<section class="page-section about-heading">
  <div class="container">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-8 col-lg-10 col-md-12 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Libro: {{libro.title}}</span>            
            </h2>
            <div class="section-content">         
              <table class="table table-responsive-md table-bordered">
                <tr>
                  <th>Titulo</th>
                  <th>Autor</th>
                  <th>Tipo</th>
                  <th>Identificador</th>
                  <th>Editorial</th>
                </tr>
                <tr>
                  <td>{{libro.title}}</td>
                  <td>{{libro.autor}}</td>
                  <td>{{libro.tipo}}</td>
                  <td><div class="text-center">{{libro.id}}</div></td>
                  <td>{{libro.editorial}}</td>
                </tr>
              </table>
              <div class="mt-4">
                <a href="{% url 'libros:libros' %}" class="btn btn-existente p-3">Regresar</a>
                <a href="{% url 'libros:update' libro.id %}" class="btn btn-existente p-3">Actualizar</a>
                <a href="{% url 'libros:delete' libro.id %}" class="btn btn-eliminar p-3">Borrar</a>
              </div>             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
