{% extends 'core/base.html' %}

{% load static %}

{% block title %}Libros{% endblock %}
{% block content %}
<section class="page-section about-heading">
  <div class="container">
    <!--<img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/contact.jpg' %}" alt="">-->
    <hr>
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-12 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Libro: {{libro.name}}</span>            
            </h2>
            <div class="section-content">
              <table class="table table-responsive">
                <tr>
                  <th>Nombre</th>
                  <th>Tipo de Documento</th>
                  <th>Documento</th>
                  <th>Correo</th>
                  <th>Trueques Disponibles</th>
                </tr>
                <tr>
                  <td>{{libro.name}}</td>
                  <td>{{libro.tipo}}</td>
                  <td>{{libro.id|striptags}}</td>
                  <td>{{libro.email}}</td>
                  <td>{{libro.trueques}}</td>
                </tr>
              </table>
              <div class="mt-4">
                <a href="{% url "libros:libros" %}" class="btn btn-existente">Regresar</a>  <a href="{% url "libros:delete" libro.id %}" class="ml-xl-5 btn btn-eliminar">Borrar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
