{% extends 'core/base.html' %}

{% load static %}

{% block title %}Usuarios{% endblock %}

{% block content %}
<section class="page-section about-heading">
  <div class="container">
    <!--<img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/contact.jpg' %}" alt="">-->
    <hr>
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Registrar Usuarios</span>
            </h2>
            <!-- Formulario de contacto -->
            <form method='GET' action=".">
              <div class="form-group">
                <label>Introduzca Cedula:</label>
                <div class=input-group>
                  <input type="text" name="q" placeholder="Buscar Cedula" class="form-control"/>
                </div>
                <br>
                <input type="submit"  value="Buscar" class="btn btn-primary py-2"/>
              </div>
            </form>
            {% if query %}
                {% if results %}
                <ul>
                {% for result in results %}
                    <li>Nombre: {{ result.name }}</li>
                    <br>
                    <li>Correo: {{ result.email }}</li>
                    <br>
                    <li>Tipo: {{ result.tipo }}</li>
                    <br>
                    <li>Documento: {{ result.id }}</li>
                {% endfor %}
                </ul>
                {% else %}
                  <p>Query returned no results.</p>
                {% endif %}
            {% endif %}             
            <!-- Fin formulario de contacto -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
