{% extends 'core/base.html' %}

{% load static %}

{% block title %}Usuarios{% endblock %}
{% block content %}
<section class="page-section about-heading">
  <div class="container">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-10 col-lg-10 col-md-12 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Usuario: {{usuario.name}}</span>            
            </h2>
            <div class="section-content">
              <table class="table table-responsive table-bordered">
                <tr>
                  <th>Nombre</th>
                  <th>Tipo de Documento</th>
                  <th>Documento</th>
                  <th>Correo</th>
                  <th>Trueques Disponibles</th>
                </tr>
                <tr>
                  <td>{{usuario.name}}</td>
                  <td>{{usuario.tipo}}</td>
                  <td>{{usuario.id|striptags}}</td>
                  <td>{{usuario.email}}</td>
                  <td>{{usuario.trueques}}</td>
                </tr>
              </table>
              <div class="mt-4">
                <a href="{% url "usuarios:usuarios" %}" class="btn btn-existente p-3">Regresar</a>
                <a href="{% url "usuarios:delete" usuario.id %}" class="btn btn-eliminar p-3">Borrar</a>
                <a href="{% url "usuarios:trueques" usuario.id %}" class="btn btn-agregar p-3">Agregar Trueque</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
